.mai-ad {
	max-width: var(--mai-ad-max-width, var(--mai-ad-max-width-desktop, unset));
	margin-right: auto;
	margin-bottom: var(--mai-ad-margin-bottom, 0);
	margin-left: auto;
}

.mai-ad[data-label]::before {
	display: block;
	margin-bottom: var(--mai-ad-label-margin-bottom, 6px);
	color: var(--mai-ad-label-color, rgba(0, 0, 0, 0.5));
	font-size: var(--mai-ad-label-font-size, 0.9rem);
	font-variant: all-petite-caps;
	line-height: 1;
	letter-spacing: 1px;
	text-align: var(--mai-ad-label-text-align, center);
	content: attr(data-label);
}

.mai-ad-inner {
	display: flex;
}

.mai-ad-inner::before {
	display: block;
	width: 1px;
	height: 0;
	margin-left: -1px;
	padding-bottom: calc(100% / (var(--mai-ad-aspect-ratio, var(--mai-ad-aspect-ratio-desktop, 0))));
	content: "";
}

.mai-ad-content {
	flex: 1;
	background: var(--mai-ad-background, repeating-conic-gradient(rgba(0, 0, 0, 0.03) 0% 25%, rgba(0, 0, 0, 0.01) 0% 50%) 50% / 20px 20px);
	background-position: top left;
}

.entry-content {
	--mai-ad-margin-bottom: var(--spacing-md, 24px);
}
